.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3px; /* Creates spacing between grid items */
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.search{
    width:350px;
    height: 40px;
    font-size: larger;
}



